{% extends "base.html" %}
{% block content %}
  <div class="container">
    {% if post.link %}
      <h1><a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1>{{ post.title }}</h1>
    {% endif %}
    <p>{{ post.content }}</p>
    <br/>
    {% for comment in post.comments.all %}
      <div class="container">
          <p>{{ comment.created_date }}</p>
          <strong>{{ comment.author }}</strong>
          <p>{{ comment.content }}</p>
      </div>
    {% empty %}
      <p>No comments here yet :(</p>
    {% endfor %}
  </div>
{% endblock %}
